@font-face {
	font-family: 'Arimo';
	src: url('../fonts/Arimo-Bold.ttf') format('truetype');
}

.container { 
	display:flex;
	flex-direction: column;
	position:absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #cccccc;

	font-family: "Arial Black", Gadget, Arial, sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: 900;
	line-height: 1.25;
	
}

#header {
	display: none; /* flex */
	border:5px solid #0000ff; 
	flex-grow: 1;
}

#middle {
	display: flex;
	flex-direction: row;
	flex-grow: 100;
	flex-basis:auto;
}

#gameAndOverlay{
	display: flex;
	flex-direction: column;
	width:100%;
}

#content {
	display: flex;
	flex-grow:1;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: default;
}

#gameBoard {
	display: none; /* none */
	flex-grow:1;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border:1px solid #ffffff;*/
	cursor: default;
}

#sidebar {
	display: flex;
	flex-direction: column;
	/* border: 1px solid #00aa00; */
	width: 20%;
	min-width: 200px;
	padding: 5px;
	color: #FFFFFF;
	background: #888888;
	overflow: hidden;

}

#footer { 
	display: none; /* flex */
	border:5px solid #ff0000;
	width:100%;
	flex-grow: 1;
}

* { /* keeps boxes from being bigger than they are*/
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#title {
	display: flex;
	/* font-family: "Arial Black", Gadget, sans-serif; */
	
	font-size: 14vw;
	justify-content: center;
	align-items: center;
	width: 100%;
	color: #ff0000;
	cursor: default;
	background: #444444;
}

#subtitle{
	display: flex;
	/* font-family: "Arial Black", Gadget, sans-serif; */
	
	font-size: 1vw;
	justify-content: center;
	align-items: center;
	width: 100%;
	color: #FFFFFF;
	cursor: default;
	background: #888888;
}

#users{
	display: flex;
	flex-direction: column;
	height: 20%;
}

#userlist{
	display: flex;
	flex-direction: column;
	overflow-y: hidden;
}

#userlist:hover{
	overflow-y: scroll;
}

#chat{
	display: flex;
	flex-direction: column;
	height: 90%;
}

#chatlog{
	display: flex;
	flex-direction: column;
	overflow-y: hidden;
	height: 100%;
}

#chatlog:hover{
	/*overflow-y: scroll;/* no need since the scroll bottom locks the scroll bar*/
}

::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(100,100,100,100.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(100,100,100,0.4); 
}