body {
	height:100%;
}

.container { 
	position:absolute;
	margin:0;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #cccccc;
	
	display: flex;
	flex-direction: column;

	font-family: "Arial Black", Gadget, Arial, sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: 900;
	line-height: 1.25;
	
	overflow:hidden;
}

#middle {
	height:100vh;
	display: flex;
	flex-direction: row;
}

#gameAndOverlay{
	display: flex;
	flex-direction: column;
	width:80%;
}

#content {
	display: flex;
	flex-grow:1;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: default;
}

#gameBoard {
	display: none; /* none */
	/* cursor: default; */
	/* border:1px solid #ffffff; */
}

#sidebar {
	/* border: 1px solid #00aa00; */
	width: 20%;
	/* min-width: 200px; */
	padding: 5px;
	color: #FFFFFF;
	background: #888888;
}

* { /* keeps boxes from being bigger than they are*/
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#title {
	display: flex;
	font-family: "Arial Black", Gadget, sans-serif;
	
	font-size: 14vw;
	justify-content: center;
	align-items: center;
	width: 100%;
	color: #ff0000;
	cursor: default;
	background: #444444;
}
#subtitle{
	display: flex;
	font-family: "Arial Black", Gadget, sans-serif;
	
	font-size: 1vw;
	justify-content: center;
	align-items: center;
	width: 100%;
	color: #FFFFFF;
	cursor: default;
	background: #888888;
}

#users{
	height: 20vh;
}

#userlist{
	height:100%;
	overflow-y: hidden;
}

#userlist:hover{
	overflow-y: scroll;
}

#chat{
	height: 75vh;
}

#chatlog{
	overflow-y: hidden;
	height: 100%;
}

#chatlog:hover{
	/*overflow-y: scroll;/* no need since the scroll bottom locks the scroll bar*/
}

#bidOverlay{
	display: none; /*none*/
	background: rgba(0,0,0,.5);
	align-items: center;
	justify-content: center;
	flex-direction: column;
	align-self: flex-start;
	width: 100%;
}

#bidTitle{
	display: flex;
	margin-top: .5vh;
	font-size: 3vh;
	max-height: 30px;
	/* border:1px solid #ffffff; */
}

#bidArray{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	margin: .5vh;
	margin-top: 0;
	margin-bottom: 0;
	padding: .5vh;
	width: 100%;
	/* border:1px solid #ffffff; */
}

#leadMessage{
	display: none;
	color: yellow;
	font-size: 3vh;
	max-height: 30px;
	margin-top: 0;
	margin-bottom: .5vh;
	/* border:1px solid #ffffff; */
}

.bidButton {
	display: flex;
	height: 6vw;

	flex-grow: 1;
	background: #aaaaaa;
	cursor: default;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	line-height: 1;
	font-size: 3vh;
	border-radius: 4px;
	
	margin: .5vh;
	padding: .5vh;
}

.bidButton.selected{
	background: #888888;
}

.bidButton:hover {
	background: #888888;
}

::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(100,100,100,100.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(100,100,100,0.4); 
}